@import url('https://fonts.googleapis.com/css2?family=Afacad&family=Work+Sans&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Afacad', sans-serif;
  font-family: 'Work Sans', sans-serif;
}

body {
  margin-top: 450px;
  background-color: #3e626b;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
